    <footer>
      <span>Credits: <a href="https://roberthoekstra.dev">Robert Hoekstra</a></span>
    </footer>
    <script src="./javascript/clipboard.js"></script>
    <script src="./javascript/fontcontrol.js"></script>
    <script src="./javascript/modal.js"></script>
    