<main>
<section>
<h2>Instructies</h2>
<ul>
<li><a href="#stap1">1: Een kleur kiezen</a></li>
<li><a href="#stap2">2: Een plaatje kiezen</a></li>
<li><a href="#stap3">3: Een tekst schrijven</a></li>
<li><a href="#stap4">4: Ontwerp opslaan</a></li>
<li><a href="#stap5">5: Ontwerp uitprinten</a></li>
</ul>
</section>
<section>
<a id="stap1"></a>
<h2>Stap 1: Een kleur kiezen</h2>
<p>Een t-shirt heeft natuurlijk een kleur nodig. Gebruik een van onze vooringestelde kleuren om een leuke kleur voor jouw t-shirt uit te kiezen!</p>
</section>

<section>
<a id="stap2"></a>
<h2>Stap 2: Een plaatje kiezen</h2>
<p>Een Nerdy shirt is natuurlijk niet compleet zonder een leuk plaatje! Kies daarom ook een leuk plaatje om jouw shirt echt nerdy te maken! </p>
</section>

<section>
<a id="stap3"></a>
<h2>Stap 3: Een tekst schrijven</h2>
<p>Schrijf een tekst van maximaal 20 karakters om jouw shirt echt af te maken!</p>
</section>

<section>
<a id="stap4"></a>
<h2>Stap 4: Ontwerp opslaan</h2>
<p>Wil je jouw ontwerp opslaan om aan je vrienden en familie te laten zien?
Je kunt heel gemakkelijk jouw ontwerp opslaan door op de download knop te drukken naast de print knop!
</p>
</section>

<section>
<a id="stap5"></a>
<h2>Stap 5: Ontwerp uitprinten</h2>
<p>Wil je jouw ontwerp uitprinten? Je kunt heel eenvoudig jouw ontwerp uitprinten door op de print knop naast de download knop te drukken!</p>
</section>

<section>
<p>Ben je er klaar voor? Laten we beginnen met het maken van jouw shirt!</p>
<a id="applicationstart" href="/generator">T-shirt maken!</a>
</section></main>