    <section id="installBanner" class="banner">
      <h2>Web-applicatie gedetecteerd!</h2>
      <p>We hebben gedetecteerd dat jij deze website kan opslaan als web-applicatie. Druk op onderstaande knop om de applicatie te installeren!</p>
    <button id="installBtn">Installeren</button>
    </section>