<section>
    <h1>Nerdy T-Shirt generator!</h1>
    <blockquote>Voor elke nerd een shirt</blockquote>
</section>
<section>
    <p>Iedereen houdt van mooie shirts, jij toch ook? Met deze online tool, gemaakt voor iedereen, is het mogelijk om jouw favoriete shirts te maken! Gebruik onderstaande knop om zo snel mogelijk aan de slag te gaan!
    </p>
    <a href="/start">beginnen</a>
</section>